@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
  border-right: 2px solid transparent;
  max-width: 100%;
  width: 100%;
}

.typewriter.typing {
  overflow: hidden;
  border-right: 2px solid #000;
  white-space: nowrap;
  animation: typing 6s steps(60, end),
             blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000 }
}

.typewriter.typing:last-child {
  border-right: 2px solid black;
  animation: typing 10s steps(100, end),
             blink-caret 0.75s step-end infinite;
}